<!DOCTYPE html>
<link rel="stylesheet" href="/assets/styles/standard.css">

<div id="home">
    <h1 style="letter-spacing: 4px;">NOTE IT</h1>
    
    <body style="letter-spacing: 2px; color: white;">

        <a href="/signup", style="color: white">SIGN UP</a> or <a href="", style="color: white">LOG IN</a></a>

    </body>
</div>