<form action="/user/register", method="POST">
    <div id="form">

        <h1 style="letter-spacing: 4px;"> NOTE IT </h1>
        <p>Sign up to start posting & noting!</p>

        <input type="text" placeholder="Full Name" name="fullName" required>

        <input type="text" placeholder="Enter Email" name="email" required>

        <input type="password" placeholder="Enter Password" name="password" required>

        <input type="submit" name="register" value="Sign Up" style="background-color:#3D546A; color: white"/>
    </div>
</form>