<form action="">
    <div id="signup_form">
        
        <img src="https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHBvc3R8ZW58MHx8MHw%3D&auto=format&fit=crop&w=800&q=60" width="300px" />

        <h1 style="letter-spacing: 4px;"> NOTE IT </h1>
        <p>Sign up to start posting & noting!</p>


        <input type="text" placeholder="Name" name="name" required>

        <input type="text" placeholder="Enter Email" name="email" required>

        <input type="password" placeholder="Enter Password" name="psw" required>

        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
        
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <button type="button" class="signupbtn">Sign Up</button>
    </div>
</form>