<!DOCTYPE html>
<link rel="stylesheet" href="/assets/styles/standard.css">

<form action="/user/forgot-password", method="POST">
    <div id="form">

        <h1 style="letter-spacing: 4px;">MOMENT</h1>
        <p>Enter your email to receive a link to reset your password.</p>

        <input type="email" placeholder="Email" name="email" required >

        <input type="submit" name="reset" value="Send Link" style="background-color: rgb(35, 49, 61); color: white;"/>

    </div>
</form>