<form action="/user/reset-password", method="POST">
    <div id="form">
        <h1 style="letter-spacing: 4px;">MOMENT</h1>
        <p>Reset your password below.</p>

        <input type="password" placeholder="Enter Password" name="password" required>

        <input type="token" placeholder="Enter Token" name="token" required>

        <input type="submit" name="reset" value="Reset" style="background-color:#3D546A; color: white"/>
    </div>
</form>