<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(180, 213, 219);
                
                color: rgb(35, 49, 61);
                display: block;

                text-align: center;

                font-family: Helvetica;
                font-weight: lighter;
            }

            form {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -67%);
                font-size: 11px; 
            }

            input{
                border: solid 1px rgb(35, 49, 61);
                border-radius: 5px;
                margin: 10px; 
                padding: 4px 2px;
                width: 300px;
                font-weight: lighter;
            }
        </style>
    </head>

    <body>
        <form action="/user/reset-password", method="POST">
            <h1 style="letter-spacing: 4px;">MOMENT</h1>
            <p style="font-size: 16px;">Reset your password below.</p>
    
            <input type="password" placeholder="Enter Password" name="password" required>
            <input type="token" placeholder="Enter Token" name="token" required>
            <input type="submit" name="reset" value="Reset" style="background-color:#3D546A; color: white"/>
        </form>
    </body>
</html>