<!DOCTYPE html>
<link rel="stylesheet" href="/assets/styles/standard.css">

<div id="success_page">
    <h1 style="letter-spacing: 4px;">EMAIL SENT!</h1>
    
    <p>Check your email for a password reset link.</p>
</div>