<!DOCTYPE html>
<link rel="stylesheet" href="/assets/styles/standard.css">

<div id="home_page">
    <img src="https://images.unsplash.com/photo-1527239441953-caffd968d952?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80"  />
</div>

<div id="home">
    <h1 style="letter-spacing: 4px;">NOTE IT</h1>
    
    <body style="letter-spacing: 2px; color: white;">

        <a href="/signup", style="color: #3D546A">SIGN UP</a> or <a href="/login", style="color: #3D546A">LOG IN</a></a>

    </body>
</div>