<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
                width: 100%;
                height: 100%; 
            }

            body {
                background-color: rgb(180, 213, 219);
                color: rgb(35, 49, 61);

                text-align: center;

                font-family: Helvetica;
                font-weight: lighter;
            }

            #block {
                letter-spacing: 4px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -200%);
            }

        </style>
    </head>

    <body>
        <img src="https://images.unsplash.com/photo-1487260211189-670c54da558d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1pbmltYWwlMjBiYWNrZ3JvdW5kJTIwYXJ0fGVufDB8MXwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"/>
        
        <div id="block">
            <h1>MOMENT</h1>
            <p><a href="/signup", style="color:rgb(35, 49, 61);">SIGN UP</a> or <a href="/login", style="color:rgb(35, 49, 61);">LOG IN</a></a></p>
        </div>  
    </body>
</html>