<div id="home_page">
    <img src="https://images.unsplash.com/photo-1487260211189-670c54da558d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1pbmltYWwlMjBiYWNrZ3JvdW5kJTIwYXJ0fGVufDB8MXwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"  />
</div>

<form action="/user/login", method="POST">
    <div id="form">
        
        <h1 style="letter-spacing: 4px; color: rgb(35, 49, 61);"> MOMENT </h1>
        <p style="color: rgb(35, 49, 61);">Welcome back!</p>

        <input type="text" placeholder="Enter Username" name="username" required>

        <input type="password" placeholder="Enter Password" name="password" required>
    
        <input type="submit" name="loginbtn" value="Log In" style="background-color:rgb(35, 49, 61); color: white" />
    
        <a href="/forgot", style="font-size: 10px; color: rgb(35, 49, 61)">Forgot password?</a>
    </div>
</form>

