<form action="/user/login", method="POST">
    <div id="form">
        
        <h1 style="letter-spacing: 4px;"> NOTE IT </h1>
        <p>Welcome back!</p>

        <input type="text" placeholder="Enter Email" name="email" required>

        <input type="password" placeholder="Enter Password" name="password" required>
    
        <input type="submit" name="loginbtn" value="Log In" style="background-color:#3D546A; color: white" />
    
        <a href="/forgot", style="font-size: 10px;">Forgot password?</a>
    </div>
</form>

