<!DOCTYPE html>
<link rel="stylesheet" href="/assets/styles/standard.css">

<div id="success_page">
    <h1 style="letter-spacing: 4px;">SUCCESS!</h1>
    
    <p>Please check your email to confirm account. If you've confirmed your account, you may now <a href="/login">log in</a>!</p>
</div>