<!DOCTYPE html>
<link rel="stylesheet" href="/assets/styles/standard.css">

<div id="user_feed">
    <h1>This is your user feed!</h1>

    <a href=""> this is a link to take you to the create post form</a>


</div>