<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(180, 213, 219);
                color: rgb(35, 49, 61);
                font-family: Helvetica;
            }

            form {
                text-align: center;
            }

            input{
                border: solid 1px rgb(35, 49, 61);
                border-radius: 5px;
                font-weight: lighter;
                font-size: 11px; 
            }

            h1 {
                text-align: center;
                letter-spacing: 4px; 
                transform: translate(0%, 10%);
            }

            #post-container {
                background-color: white; 
                margin: 16px; 
                padding: 16px; 
                border: solid 1px rgb(35, 49, 61);
                border-radius: 5px;
            }

        </style>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script type="text/javascript">
            async function alrighty() {
                const allPosts = await Post.find();
                return allPosts;
            }

            async function handleDeletePost(e) {
                consolde.log("Deleting post...")
                console.log(e.target.id)

                const postId = e.target.id
                const url = '/post' + postId

                try {
                    const response = await axios.delete(url)
                    console.log(response)
                    location.reload()
                } catch (error) {
                    console.error(err.toString())
                    alert(err.toString())
                }
            }
        </script>
    </head>

    <body>

        <script type="text/javascript">
            const allPosts = alrighty();
        </script>
        
        <h1>MOMENTS</h1>
        <h1 style="font-size:14px;">
            <a href="/create-post" title="Create a new moment" style="color:rgb(35, 49, 61); text-align:center;">+</a>
            <a href="/delete-post" title="Create a new moment" style="color:rgb(35, 49, 61); text-align:center;">-</a>
        </h1>

        <div>
            <% allPosts.forEach(p => { %>
                <div id="post-container">
                    <div style="font-weight: bold; font-size: 18px;"><%= p.title %></div>
                    <div style="font-weight: lighter;"><%= p.body %></div>
                    <div style="font-weight: light; font-size: 8px; text-align:right; transform: translate(0%, 50%);">ID: <%= p.id %></div>
                    
                   
                    <!-- <button id='<%= p.id %>' onclick="handleDeletePost(event)" style="font-family:Helvetica; font-size:9px;
                        border: solid 1px rgb(35, 49, 61); background-color: rgb(180, 213, 219); border-radius: 5px;">
                        Edit
                    </button> -->
                    
                </div>
            <% }) %>
        </div>
    </body>
</html>