<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(180, 213, 219);
                color: rgb(35, 49, 61);

                display: block;
                font-family: Helvetica;
                text-align: center;

                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -350%);
            }

        </style>
    </head>

    <body>
        This will show a list of our posts.

        <div>
            <% allPosts.forEach(p => { %>
                <div>Post Title: <%= p.title %></div>
                <div>Post Body: <%= p.body %></div>
            <% }) %>
        </div>
    </body>
</html>