<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: rgb(180, 213, 219);
                color: rgb(35, 49, 61);
                display: block;

                text-align: center;

                font-family: Helvetica;
                font-weight: lighter;
            }

            #block {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>

    <body>
        <div id="block">
            <h1 style="letter-spacing: 4px;">SUCCESS!</h1>
            <p>View your feed <a href="/feed" style="color:rgb(35, 49, 61)">here</a></p>
        </div>

    </body>
</html>