#success_page {
    /* centers section */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center; 

    color: #3D546A; 

    font-family: Helvetica; 
    font-weight: lighter; 
}

#user_feed {
    /* centers section */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center; 

    color: #3D546A; 

    font-family: Helvetica; 
    font-weight: bolder; 
}